:root {
    --corPesquisa: #0a1b2d;
    --corpreto: #00001A;
    --corHeader: #000033;
    --txt-cor: white;
    --corazul: #0000FF;
    --corbranco: #fafafa;
    --txt-estilo: "Space Mono";
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--corpreto);
}

/*Base do site*/


.container-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--corHeader);
    font-family: var(--txt-estilo);
    font-weight: bold;
    text-transform: uppercase;
}

#logo img {
    width: 80px;
    height: 65px;
    padding-top: 5px;
}

#logo {
    display: flex;
    width: 7%;
    justify-content: center;
    padding-left: 10px;
}

#opcao {
    display: flex;
    padding-left: 40px;
    width: 64%;
    flex-direction: row;
}

#opcao a {
    display: flex;
    color: var(--txt-cor);
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#opcao a:hover {
    background-color: var(--txt-cor);
    color: var(--corHeader);
}

#busca-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26%;
}

#busca {
    display: flex;
    align-items: center;
    background: var(--corPesquisa);
    width: 200px;
    height: 30px;
    border-radius: 40px;
    margin-left: 20px;
}

#busca input {
    border-radius: none;
    background: none;
    border: 0;
    padding: 0;
    color: var(--txt-cor);
    font-size: 13px;
    line-height: 25px;
    width: 173px;
    height: 28px;
    text-indent: 6px;
    font-family: var(--txt-estilo);
}

#busca a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login a {
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    padding-left: 50px;
}
/*Estilo do Header*/

.container-top {
    display: flex;
    width: 100%;
    height: 92vh;
    padding-left: 35px;
}

#txt-top {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 80vh;
    border-radius: 5px;
    font-family: var(--txt-estilo);
}

#slogan {
    font-size: 60px;
    color: var(--txt-cor);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 70px;
}

#descricao {
    padding-top: 80px;
    text-align: start;
    padding-right: 10px;
    color: var(--txt-cor);
    font-size: 20px;
}

#txt-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 20em;
    height: 50px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--corazul);
    color: var(--txt-cor);
}

#txt-top a:hover {
    background-color: var(--txt-cor);
    color: var(--corazul);
}

#imagem-top {
    width: 60em;
    height: 100px;
}
/*Estilo do Top*/

.container-mid {
    display: flex;
    flex-wrap: wrap;
    color: var(--txt-cor);
    height: 105vh;
    text-align: center;
    font-family: var(--txt-estilo);
    padding-top: 25px;
}

#txt-mid {
    width: 100%;
    height: 15vh;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bolder;
}

#card1-3,#card4-6 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#card {
    width: 200px;
    height: 300px;
    display: flex;
}

#card a {
    width: 200px;
    height: 300px;
    text-decoration: none;
    color: var(--txt-cor);
    font-size: 20px;
    font-weight: bolder;
}

#card img {
    width: 100%;
    height: 70%;
}

.container-mid #card:hover,
#card a:hover {
    width: 300px;
    height: 375px;

}
/*Estilo do mid*/

.container-bot {
    height: 70vh;
    color: var(--txt-cor);
    font-family: var(--txt-estilo);
    text-align: center;
    font-size: 25px;
}

#txt-bot {
    width: 100%;
    height: 25vh;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bolder;
    padding-top: 40px;
}

#clientes-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#clientes-bot img {
    width: 6.5vw;
    height: 12vh;
    border-radius: 100%;
}

#bill h1,#jobs h1,#musk h1,#linux h1{
    font-size: 15px;
    font-weight: bolder;
}

#bill,#jobs,#musk,#linux {
    background-color: rgba(10, 17, 98, 0.559);
    color: var(--txt-cor);;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
    width: 15vw;
    height: 42vh;
    border-radius: 9px;
    padding: 15px;
    font-size: 10px;
}

/*Estilo do bot*/

.container-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter {
    display: flex;
    flex-wrap: wrap;
    background-color: #0000b8;
    font-family: var(--txt-estilo);
    border-radius: 25px;
    margin: 20px 20px;
    color: var(--txt-cor);
    width: 30vw;
    justify-content: space-evenly;
}

#txt-newsletter main {
    padding-top: 25px;
    height: 10vh;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

#newsletter form {
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
}

#newsletter input {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
}

#newsletter button {
  background-color: var(--corpreto);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
/*Estilo da newsletter*/

.footer {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-between;
    color: var(--txt-cor);
    font-family: var(--txt-estilo);
    background-color: var(--corHeader);
    padding-left: 10px;
    padding-right: 10px;
}

#icones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10vw;
    align-items: center;
}

.footer #icones img,
#icones a {
    width: 25px;
    height: 25px;
}

#txt-footer {
    display: flex;
    align-items: center;
}